* {
	box-sizing: border-box;
	font-family: system-ui;
}
html,
body,
#root {
	height: 100%;
	margin: 0;
	overflow: hidden;
	padding: 0;
	user-select: none;
	width: 100%;
}

.pointer {
	color: white;
	font-size: 40px;
	left: 50%;
	opacity: 0.7;
	position: absolute;
	top: 50%;
	transform: translate(-50%, -50%);
}
