* {
	box-sizing: border-box;
	font-family: system-ui;
}
html,
body,
#root {
	height: 100%;
	margin: 0;
	overflow: hidden;
	padding: 0;
	user-select: none;
	width: 100%;
}

.pointer {
	color: white;
	font-size: 40px;
	left: 50%;
	opacity: 0.7;
	position: absolute;
	top: 50%;
	transform: translate(-50%, -50%);
}

.texture-selector {
	background-color: #222;
	border: 2px solid #000;
	border-radius: 4px;
	bottom: 1rem;
	display: flex;
	gap: 4px;
	left: 50%;
	overflow: hidden;
	padding-inline: 2px;
	position: absolute;
	translate: -50%;
}
.texture-selector img {
	border: 3px solid #666;
	border-left: 2px solid #333;
	border-right: 2px solid #333;
	cursor: pointer;
	image-rendering: pixelated;
	aspect-ratio: 1;
	object-fit: cover;
	width: 65px;
}
.texture-selector img.selected {
	border-color: white;
	border-radius: 10px;
}

@media (max-width: 400px) {
	.texture-selector img {
		width: 45px;
	}
}
